@import './base.css';

.d4 { background-color: #8b4513; }
.d6 { background-color: #dc143c; }
.d8 { background-color: #00CCC8; }
.d10 { background-color: #DF73FF; }
.d12 { background-color: #FFCE1B; }
.d20 { background-color: #4CBB17; }