@import './base.css';

.d4 { 
    border: 2px solid #8b4513;
    color: #8b4513;
}
.d6 { 
    border: 2px solid #dc143c;
    color: #dc143c; 
}
.d8 { 
    border: 2px solid #00CCC8;
    color: #00CCC8; 
}
.d10 { 
    border: 2px solid #DF73FF;
    color: #DF73FF; 
}
.d12 { 
    border: 2px solid #FFCE1B;
    color: #FFCE1B; 
}
.d20 { 
    border: 2px solid #4CBB17;
    color: #4CBB17; 
}